*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.DS_Store
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheet
project/
src/main/resources/InputStackSets/
src/main/resources/OutputModels/
src/main/resources/SampleOutputs/*
src/main/resources/terminology/policy
src/main/resources/terminology/actions
notes/
Demo/*
